.video {
  position: relative;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #734df0;
  width: 80%;
  height: 80vh;
  max-width: 360px;
  margin: 15vh auto;
}

.video__player {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}