* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

.app {
  background-color: black;
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
